<section>
  <div class="flex flex-col gap-6 mb-8">
    <div class="flex flex-col gap-2">
      <div class="text-sm font-medium flex gap-2 mb-4">
        <div [routerLink]="['/components']"  class="cursor-pointer transition-colors duration-300 text-neutral-500 hover:text-neutral-900 hover:dark:text-neutral-100" >Components</div>
        <div class="dark:text-neutral-800 text-neutral-300">/</div>
        <div class="dark:text-blue-600 text-blue-800">Callout</div>
      </div>
      <h2 class="text-4xl font-semibold">Callout</h2>
      <p class="text-xl font-medium text-neutral-500">Short message to attract user's attention.</p>
    </div>
    <aTabs>
      <aTab tabTitle="Preview" [active]="true">
        <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
          <aCallout type="default" title="Default" icon="person">
            Indicates a neutral action.
          </aCallout>
        </div>
      </aTab>
      <aTab tabTitle="Code">
        <aCode [language]="'language-typescript'" [code]="defaultCode" />
      </aTab>
    </aTabs>
  </div>

  <div class="mb-16 flex flex-col gap-2" id="api" #attributes>
    <h3
    (click)="scrollToElement(attributes)"
    class="
      cursor-pointer
      relative
      text-xl
      mb-4
      font-medium
      text-neutral-900
      dark:text-neutral-100
      hover:before:content-['#']
      before:absolute
      before:-left-6
      before:text-2xl
      before:dark:text-blue-950
      before:text-blue-300
  ">
    Attributes Reference
  </h3>
    <aTable>
      <aTHeader>
        <aTRow [isHeader]="true">
          <aTCell [colHeader]="true">Prop</aTCell>
          <aTCell [colHeader]="true">Type</aTCell>
          <aTCell [colHeader]="true">Default</aTCell>
        </aTRow>
      </aTHeader>

      <aTBody>
        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">id</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">string</span>
          </aTCell>
          <aTCell><span class="dark:text-neutral-700 text-neutral-400">—</span></aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">type</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">"default" | "success" | "informative" | "warn" | "destructive"</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-neutral-800 dark:text-neutral-300 bg-neutral-200 text-neutral-800 px-1.5 py-0.5 rounded-md">"default"</span>
          </aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">title</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">string</span>
          </aTCell>
          <aTCell><span class="dark:text-neutral-700 text-neutral-400">—</span></aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">icon</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">string</span>
          </aTCell>
          <aTCell><span class="dark:text-neutral-700 text-neutral-400">—</span></aTCell>
        </aTRow>
      </aTBody>
    </aTable>
  </div>

  <div class="mb-16 flex flex-col gap-2" id="installation" #installation>
    <h3
      (click)="scrollToElement(installation)"
      class="
        cursor-pointer
        relative
        text-xl
        mb-4
        font-medium
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
    ">
      Installation
    </h3>
    <aCode [language]="'sh'" [code]="'npm install @alpha/callout'" />
  </div>

  <div class="mb-16 flex flex-col gap-2" id="usage" #usage>
    <h3
      (click)="scrollToElement(usage)"
      class="
        cursor-pointer
        relative
        text-xl
        mb-4
        font-medium
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
    ">
      Usage
    </h3>
    <aCode [language]="'language-typescript'" [code]="defaultImports" />
    <aCode [language]="'html'" [code]="defaultSkeleton" />
  </div>

  <div class="mb-16 flex flex-col gap-2" id="examples" #examples>
    <h3
      (click)="scrollToElement(examples)"
      class="
        cursor-pointer
        relative
        text-xl
        mb-4
        font-medium
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
    ">
      Examples
    </h3>

    <div id="default" #default>
      <h4
      (click)="scrollToElement(default)"
      class="
        cursor-pointer
        relative
        text-lg
        mb-4
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
      ">
        Default
      </h4>
      <aTabs>
        <aTab tabTitle="Preview" [active]="true">
          <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
            <aCallout type="default" title="Default" icon="person">
              Indicates a neutral action.
            </aCallout>
          </div>
        </aTab>
        <aTab tabTitle="Code">
          <aCode [language]="'language-typescript'" [code]="defaultCode" />
        </aTab>
      </aTabs>
    </div>

    <div id="success" #success>
      <h4
      (click)="scrollToElement(success)"
      class="
        cursor-pointer
        relative
        text-lg
        mb-4
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
      ">
        Success
      </h4>
      <aTabs>
        <aTab tabTitle="Preview" [active]="true">
          <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
            <aCallout type="success" title="Success" icon="check-circled">
              Indicates a successful or positive action.
            </aCallout>
          </div>
        </aTab>
        <aTab tabTitle="Code">
          <aCode [language]="'language-typescript'" [code]="primaryCode" />
        </aTab>
      </aTabs>
    </div>

    <div id="informative" #informative>
      <h4
      (click)="scrollToElement(informative)"
      class="
        cursor-pointer
        relative
        text-lg
        mb-4
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
      ">
        Informative
      </h4>
      <aTabs>
        <aTab tabTitle="Preview" [active]="true">
          <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
            <aCallout type="informative" title="Informative" icon="information-circled-2">
              Indicates a neutral informative change or action.
            </aCallout>
          </div>
        </aTab>
        <aTab tabTitle="Code">
          <aCode [language]="'language-typescript'" [code]="destructiveCode" />
        </aTab>
      </aTabs>
    </div>

    <div id="warn" #warn>
      <h4
      (click)="scrollToElement(warn)"
      class="
        cursor-pointer
        relative
        text-lg
        mb-4
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
      ">
        Warning
      </h4>
      <aTabs>
        <aTab tabTitle="Preview" [active]="true">
          <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
            <aCallout type="warn" title="You sure?" icon="information-circled-2-1">
              Indicates neutral information to ald in understanding.
            </aCallout>
          </div>
        </aTab>
        <aTab tabTitle="Code">
          <aCode [language]="'language-typescript'" [code]="outlineCode" />
        </aTab>
      </aTabs>
    </div>

    <div id="destructive" #destructive>
      <h4
      (click)="scrollToElement(destructive)"
      class="
        cursor-pointer
        relative
        text-lg
        mb-4
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
      ">
        Destructive
      </h4>
      <aTabs>
        <aTab tabTitle="Preview" [active]="true">
          <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
            <aCallout type="destructive" title="Unexpected Error" icon="warning">
              Indicates a warning that might need attention.
            </aCallout>
          </div>
        </aTab>
        <aTab tabTitle="Code">
          <aCode [language]="'language-typescript'" [code]="ghostCode" />
        </aTab>
      </aTabs>
    </div>
  </div>
</section>
