<section class="flex flex-wrap gap-4 w-full">
  <div class="grid gap-4 lg:grid-cols-10 xl:grid-cols-11">
    <div class="space-y-4 lg:col-span-4 xl:col-span-6 xl:space-y-4">
      <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
        <div class="space-y-6 xl:space-y-4 flex flex-col gap-1">
          <tiCard>
            <div class="flex flex-col gap-8" content>
              <div class="flex justify-between">
                <div class="flex flex-col">
                  <div class="text-lg font-semibold">Team Members</div>
                  <div class="text-sm text-neutral-500 font-medium">Invite your team members to collaborate.</div>
                </div>
                <div>
                  <tiButton type="outline">
                    <tiIcon icon="plus" />
                  </tiButton>
                </div>
              </div>
              <div class="flex flex-col gap-4">
                <div class="flex items-center justify-between flex-wrap gap-4">
                  <div class="flex items-center gap-4">
                    <tiAvatar size="medium" [fallback]="'Sd'" />
                    <div class="flex flex-col text-sm font-medium">
                      <div>Sofia Davis</div>
                      <div class="text-neutral-500">m&#64;example.com</div>
                    </div>
                  </div>
                  <tiSelect placeholder="Choose an option" [multiSelect]="false" [options]="[{value: 'viewer', title: 'Viewer'}, {value: 'developer', title: 'Developer'}, {value: 'owner', title: 'Owner'}]" [selectedIds]="['owner']" />
                </div>

                <div class="flex items-center justify-between flex-wrap gap-4">
                  <div class="flex items-center gap-4">
                    <tiAvatar size="medium" [fallback]="'Jl'" />
                    <div class="flex flex-col text-sm font-medium">
                      <div>Jackson Lee</div>
                      <div class="text-neutral-500">p&#64;example.com</div>
                    </div>
                  </div>
                  <tiSelect placeholder="Choose an option" [multiSelect]="false" [options]="[{value: 'viewer', title: 'Viewer'}, {value: 'developer', title: 'Developer'}, {value: 'owner', title: 'Owner'}]" [selectedIds]="['viewer']" />
                </div>

                <div class="flex items-center justify-between flex-wrap gap-4">
                  <div class="flex items-center gap-4">
                    <tiAvatar size="medium" [fallback]="'In'" />
                    <div class="flex flex-col text-sm font-medium">
                      <div>Isabella Nguyen</div>
                      <div class="text-neutral-500">i&#64;example.com</div>
                    </div>
                  </div>
                  <tiSelect placeholder="Choose an option" [multiSelect]="false" [options]="[{value: 'viewer', title: 'Viewer'}, {value: 'developer', title: 'Developer'}, {value: 'owner', title: 'Owner'}]" [selectedIds]="['viewer']" />
                </div>
              </div>
            </div>
          </tiCard>
          <tiCard>
            <div title>
              Upload image
            </div>
            <div description>
              Change your profile picture
            </div>
            <div content>
              <tiInput type="bigFile" placeholder="JPG, PNG, or GIF - Max file size 2MB" />
              <div class="flex w-full mt-6 gap-4 text-xs text-neutral-600 justify-between items-center">
              <tiSeparator orientation="horizontal" /> OR <tiSeparator orientation="horizontal" />
              </div>
            </div>
            <div footer>
              <div class="flex gap-2">
                <tiInput type="text" placeholder="Add from URL" />
                <tiButton type="primary">Add</tiButton>
              </div>
            </div>
          </tiCard>
        </div>
        <div class="space-y-4 xl:space-y-4 flex flex-col gap-1">
          <tiCard>
            <div class="flex flex-col gap-8" content>
              <div class="flex flex-col">
                <div class="text-lg font-semibold">Cookie Settings</div>
                <div class="text-sm text-neutral-500 font-medium">Manage your cookie settings here.</div>
              </div>
              <div class="flex flex-col gap-4">
                <tiSwitch [checked]="true">
                  <div class="flex flex-col">
                    <div class="font-medium">Strictly Necessary</div>
                    <div class="text-sm text-neutral-500 font-medium max-w-96">These cookies are essential in order to use the website and use its features.</div>
                  </div>
                </tiSwitch>

                <tiSwitch [checked]="false">
                  <div class="flex flex-col">
                    <div class="font-medium">Functional Cookies</div>
                    <div class="text-sm text-neutral-500 font-medium max-w-96">These cookies allow the website to provide personalized functionality.</div>
                  </div>
                </tiSwitch>

                <tiSwitch [checked]="false">
                  <div class="flex flex-col">
                    <div class="font-medium">Performance Cookies</div>
                    <div class="text-sm text-neutral-500 font-medium max-w-96">These cookies help to improve the performance of the website.</div>
                  </div>
                </tiSwitch>
              </div>
              <div class="flex gap-4 justify-end">
                <tiButton type="outline">Refuse all cookies</tiButton>
                <tiButton type="primary">Save preferences</tiButton>
              </div>
            </div>
          </tiCard>
          <tiCard>
            <div class="flex flex-col" content>
              <div class="dark:text-blue-500 text-blue-800 mb-2 font-medium">Team</div>
              <div class="flex gap-1 items-end mb-8">
                <div class="text-6xl font-semibold">$99</div>
                <div class="dark:text-neutral-500 text-neutral-700">/month</div>
              </div>
              <div class="mb-8 font-medium dark:text-neutral-500 text-neutral-700">
                The perfect plan if you're just getting started with our product.
              </div>
              <div class="flex flex-col gap-2 mb-4 text-sm">
                <div class="flex gap-2 items-center">
                  <tiIcon icon="check" other="dark:text-blue-500 text-blue-800 !w-6 !h-6"/>
                  25 products
                </div>
                <div class="flex gap-2 items-center">
                  <tiIcon icon="check" other="dark:text-blue-500 text-blue-800 !w-6 !h-6"/>
                  Up to 10,000 subscribers
                </div>
                <div class="flex gap-2 items-center">
                  <tiIcon icon="check" other="dark:text-blue-500 text-blue-800 !w-6 !h-6"/>
                  Audience segmentation
                </div>
                <div class="flex gap-2 items-center">
                  <tiIcon icon="check" other="dark:text-blue-500 text-blue-800 !w-6 !h-6"/>
                  Advanced analytics
                </div>
                <div class="flex gap-2 items-center">
                  <tiIcon icon="check" other="dark:text-blue-500 text-blue-800 !w-6 !h-6"/>
                  Email support
                </div>
                <div class="flex gap-2 items-center">
                  <tiIcon icon="check" other="dark:text-blue-500 text-blue-800 !w-6 !h-6"/>
                  Marketing automations
                </div>
              </div>
            </div>
            <div class="flex gap-2" footer>
              <tiButton type="primary">Get started today</tiButton>
              <tiButton type="ghost">Return to Personal plan</tiButton>
            </div>
          </tiCard>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-1 space-y-4 lg:col-span-6 xl:col-span-5 xl:space-y-4">
      <tiCard>
        <div class="flex flex-col gap-4" content>
          <div class="flex flex-col">
            <div class="text-lg font-semibold">Share this document</div>
            <div class="text-sm text-neutral-500 font-medium">Anyone with the link can view this document.</div>
          </div>
          <div class="flex items-center gap-2">
            <div class="px-3 py-2.5 rounded-lg font-medium text-sm w-full border dark:border-neutral-800 border-neutral-300">
              http://example.com/link/to/document
            </div>
            <tiButton>
              <div class="text-nowrap">Copy Link</div>
            </tiButton>
          </div>
          <tiSeparator />
          <div class="flex flex-col gap-4">
            <div>People with access</div>
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-4">
                <tiAvatar size="medium" [fallback]="'Sd'" />
                <div class="flex flex-col text-sm font-medium">
                  <div>Sofia Davis</div>
                  <div class="text-neutral-500">m&#64;example.com</div>
                </div>
              </div>
              <tiSelect placeholder="Choose an option" [multiSelect]="false" [options]="[{value: 'edit', title: 'Can edit'}, {value: 'view', title: 'Can view'}]" [selectedIds]="['edit']" />
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center gap-4">
                <tiAvatar size="medium" [fallback]="'Jl'" />
                <div class="flex flex-col text-sm font-medium">
                  <div>Jackson Lee</div>
                  <div class="text-neutral-500">p&#64;example.com</div>
                </div>
              </div>
              <tiSelect placeholder="Choose an option" [multiSelect]="false" [options]="[{value: 'edit', title: 'Can edit'}, {value: 'view', title: 'Can view'}]" [selectedIds]="['view']" />
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center gap-4">
                <tiAvatar size="medium" [fallback]="'In'" />
                <div class="flex flex-col text-sm font-medium">
                  <div>Isabella Nguyen</div>
                  <div class="text-neutral-500">i&#64;example.com</div>
                </div>
              </div>
              <tiSelect placeholder="Choose an option" [multiSelect]="false" [options]="[{value: 'edit', title: 'Can edit'}, {value: 'view', title: 'Can view'}]" [selectedIds]="['view']" />
            </div>
          </div>
        </div>
      </tiCard>
      <tiCard>
        <div class="flex flex-col gap-4" content>
          <div>
            <tiInput placeholder="Search icons..." [(value)]="searchTerm" />
          </div>
          <div class="grid grid-cols-[repeat(auto-fill,minmax(144px,1fr))] gap-2 border dark:border-neutral-800 border-neutral-300 p-4 rounded-xl max-h-[640px] overflow-y-auto overflow-x-hidden">
            <div class="group cursor-pointer relative flex flex-col py-4 px-2 items-center w-36 justify-center hover:dark:bg-neutral-900 hover:bg-neutral-200 rounded-lg gap-2" (click)="copyIcon(icon)" *ngFor="let icon of searchIcons()">
              <tiIcon [icon]="icon" other="!w-8 !h-8"/>
              <span class="text-xs font-medium dark:text-neutral-400 text-neutral-700">
                {{icon}}
              </span>
            </div>
            <p class="text-xs w-full text-nowrap dark:text-neutral-400 text-neutral-700" *ngIf="searchIcons().length === 0 && searchTerm.length > 0">There are no results you are looking for.</p>
          </div>
        </div>
      </tiCard>
    </div>
  </div>
</section>
