<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2024-12-28 05:39:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2024-12-31 14:35:08
-->

<header>
  <div class="fixed top-0 p-4 dark:bg-neutral-950/60 bg-neutral-50/60 backdrop-blur-sm border-b border-neutral-300 dark:border-neutral-800 w-full z-20">
    <div class="mx-auto flex w-full gap-4 max-w-screen-2xl items-center justify-between">
      <div class="flex md:gap-8 gap-2 items-center">
        <tiButton type="ghost" class="md:hidden" (click)="showMenu = !showMenu">
          <tiIcon icon="burger" />
        </tiButton>
        <a routerLink="/" class="cursor-pointer">
          <picture>
            <img class="hidden lg:dark:block" src="logotype_medium_white.svg" alt="teenage interface logotype">
            <img class="lg:block hidden dark:hidden" src="logotype_medium_black.svg" alt="teenage interface logotype">
            <img class="lg:hidden hidden dark:lg:hidden dark:block min-w-4 w-4 h-4 min-h-4" src="pictogram_white.svg" alt="teenage interface logotype">
            <img class="block dark:hidden lg:hidden min-w-4 w-4 h-4 min-h-4" src="pictogram_black.svg" alt="teenage interface logotype">
          </picture>
        </a>
        <div class="hidden md:flex items-center gap-6 mr-3">
          <a [routerLink]="['documentation']">
            <tiButton type="link">Documentation</tiButton>
          </a>
          <a [routerLink]="['components']">
            <tiButton type="link">Components</tiButton>
          </a>
        </div>
      </div>
      <div class="flex gap-2 w-full md:w-auto items-center">
        <button (click)="modal = !modal" class="cursor-pointer dark:bg-neutral-900 bg-neutral-50 border dark:border-neutral-700 border-neutral-300 hover:dark:border-neutral-500 hover:border-neutral-400 transition-colors duration-300 dark:text-neutral-500 text-neutral-400 flex items-center gap-2 justify-between focus-visible:outline-none focus:dark:border-neutral-500 focus:border-neutral-400 h-10 px-3 py-4 rounded-lg font-medium text-xs w-full md:w-60">
          <div>Search documentation...</div>
          <kbd class="pointer-events-none h-5 select-none flex items-center gap-1 rounded dark:bg-neutral-800 bg-neutral-200 px-1.5 font-medium">
            <span>⌘</span>
            <span>K</span>
          </kbd>
        </button>
        <div class="flex items-center gap-2">
          <tiButton type="ghost" (click)="toGithub()">
            <tiIcon icon="github" />
          </tiButton>
          <tiButton type="ghost" (click)="toggle()">
            <tiIcon *ngIf="mode === 'dark'" icon="sun_1" />
            <tiIcon *ngIf="mode === 'light'" icon="moon" />
          </tiButton>
        </div>
      </div>
    </div>
  </div>
</header>


<div *ngIf="modal" class="fixed top-0 flex items-center justify-center w-screen h-screen bg-neutral-950/60 backdrop-blur-sm z-40">
  <div #modalContainer class="dark:border-neutral-800 border-neutral-300 border rounded-xl dark:bg-neutral-950 bg-neutral-50">
    <div class="min-w-[500px]">
      <div class="flex items-center gap-2 border-b p-4 border-neutral-300 dark:border-neutral-800">
        <tiInput [(value)]="searchTerm" (valueChange)="onSearch()" placeholder="Search..." />
        <tiButton type="outline" (click)="modal = false">
          <tiIcon icon="cross" />
        </tiButton>
      </div>
      <div class="max-h-96 py-2 pl-2 pr-1 overflow-y-auto">
        <ul class="flex flex-col gap-1">
          <li *ngFor="let result of results; let i = index">
            <div *ngIf="result.isFirst" class="my-2 ml-2 text-xs font-medium text-neutral-500">{{ result.section }}</div>
            <a class="flex items-center gap-2 p-2 rounded-lg hover:dark:bg-neutral-900 hover:bg-neutral-200" [routerLink]="result.url" (click)="modal = false">
              <tiIcon [icon]="result.section === 'Components' ? 'circle' : 'file'" />
              {{ result.title }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="fixed flex items-end w-screen top-0 bg-neutral-950/60 h-screen z-50" *ngIf="showMenu">
  <div @slideIn #menuContainer (mousedown)="onDragStart($event)" (mousemove)="onDragMove($event)" (mouseup)="onDragEnd()" (mouseleave)="onDragEnd()" class="bg-neutral-50 dark:bg-neutral-950 pt-4 h-2/3 border-t border-l border-r w-screen border-neutral-300 dark:border-neutral-800 rounded-t-xl">
    <div class="h-1 dark:bg-neutral-800 bg-neutral-200 rounded-full w-1/4 m-auto"></div>
    <div class="overflow-y-auto h-full p-6">
      <div class="flex flex-col gap-2">
        <tiButton type="link" [routerLink]="['/']" (click)="showMenu = false">Home</tiButton>
        <tiButton type="link" [routerLink]="['documentation']" (click)="showMenu = false">Documentation</tiButton>
        <tiButton type="link" [routerLink]="['components']" (click)="showMenu = false">Components</tiButton>
      </div>
      <ul class="flex flex-col gap-1">
        <li *ngFor="let result of menu; let i = index">
          <div *ngIf="result.isFirst" class="my-2 mt-8 text-xs font-medium text-neutral-500">{{ result.section }}</div>
          <tiButton type="link" [routerLink]="result.url" (click)="showMenu = false">
            {{ result.title }}
          </tiButton>
        </li>
      </ul>
    </div>
  </div>
</div>
