<div class="fixed flex flex-col gap-6 w-56 text-sm font-medium">
  <div>On this page</div>
  <ul class="flex flex-col gap-2">
    <li
      *ngFor="let anchor of anchors"
      class="text-neutral-600 transition-colors duration-300 hover:text-neutral-950 dark:text-neutral-400 hover:dark:text-neutral-50"
      [style.paddingLeft.px]="anchor.level * 16"
      [ngClass]="{'dark:!text-blue-500 !text-blue-800' : anchor.id === activeAnchorId}"
    >
      <a href="javascript:void(0)" (click)="scrollToAnchor(anchor.id)">
        {{ anchor.title }}
      </a>
    </li>
  </ul>
</div>
