<section>
  <div class="flex flex-col gap-6 mb-8">
    <div class="flex flex-col gap-2">
      <div class="text-sm font-medium flex gap-2 mb-4">
        <div [routerLink]="['/components']"  class="cursor-pointer transition-colors duration-300 text-neutral-500 hover:text-neutral-900 hover:dark:text-neutral-100" >Components</div>
        <div class="dark:text-neutral-800 text-neutral-300">/</div>
        <div class="dark:text-blue-600 text-blue-800">Input</div>
      </div>
      <h2 class="text-4xl font-semibold">Input</h2>
      <p class="text-xl font-medium text-neutral-500">Trigger an action or event, such as submitting a form or displaying a dialog.</p>
    </div>
    <aTabs>
      <aTab tabTitle="Preview" [active]="true">
        <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
          <div class="flex items-center justify-center w-[384px]">
            <tiInput placeholder="Search" />
          </div>
        </div>
      </aTab>
      <aTab tabTitle="Code">
        <tiCode [language]="'typescript'" [code]="defaultCode" />
      </aTab>
    </aTabs>
  </div>

  <div class="mb-16 flex flex-col gap-2" id="api" #attributes>
    <h3
    (click)="scrollToElement(attributes)"
    class="
      cursor-pointer
      relative
      text-xl
      mb-4
      font-medium
      text-neutral-900
      dark:text-neutral-100
      hover:before:content-['#']
      before:absolute
      before:-left-6
      before:text-2xl
      before:dark:text-blue-950
      before:text-blue-300
  ">
    Attributes Reference
  </h3>
    <aTable>
      <aTHeader>
        <aTRow [isHeader]="true">
          <aTCell [colHeader]="true">Prop</aTCell>
          <aTCell [colHeader]="true">Type</aTCell>
          <aTCell [colHeader]="true">Default</aTCell>
        </aTRow>
      </aTHeader>

      <aTBody>
        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">id</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">string | null</span>
          </aTCell>
          <aTCell><span class="dark:text-neutral-700 text-neutral-400">—</span></aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">type</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">"text" | "password" | "email" | "file" | "bigFile"</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-neutral-800 dark:text-neutral-300 bg-neutral-200 text-neutral-800 px-1.5 py-0.5 rounded-md">"text"</span>
          </aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">placeholder</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">string</span>
          </aTCell>
          <aTCell>
            <span class="dark:text-neutral-700 text-neutral-400">—</span>
          </aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">disabled</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">boolean</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-neutral-800 dark:text-neutral-300 bg-neutral-200 text-neutral-800 px-1.5 py-0.5 rounded-md">false</span>
          </aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">serverError</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">boolean</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-neutral-800 dark:text-neutral-300 bg-neutral-200 text-neutral-800 px-1.5 py-0.5 rounded-md">false</span>
          </aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">required</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">boolean</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-neutral-800 dark:text-neutral-300 bg-neutral-200 text-neutral-800 px-1.5 py-0.5 rounded-md">false</span>
          </aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">valueChange</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">EventEmitter&lt;string&gt;</span>
          </aTCell>
          <aTCell>
            <span class="dark:text-neutral-700 text-neutral-400">—</span>
          </aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">onEnter</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">EventEmitter&lt;string&gt;</span>
          </aTCell>
          <aTCell>
            <span class="dark:text-neutral-700 text-neutral-400">—</span>
          </aTCell>
        </aTRow>
      </aTBody>
    </aTable>
  </div>

  <div class="mb-16 flex flex-col gap-2" id="installation" #installation>
    <h3
      (click)="scrollToElement(installation)"
      class="
        cursor-pointer
        relative
        text-xl
        mb-4
        font-medium
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
    ">
      Installation
    </h3>
    <tiCode [language]="'bash'" [code]="'npm install @teenageinterface/input'" />
  </div>

  <div class="mb-16 flex flex-col gap-2" id="usage" #usage>
    <h3
      (click)="scrollToElement(usage)"
      class="
        cursor-pointer
        relative
        text-xl
        mb-4
        font-medium
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
    ">
      Usage
    </h3>
    <tiCode [language]="'typescript'" [code]="defaultImports" />
    <tiCode [language]="'html'" [code]="defaultSkeleton" />
  </div>

  <div class="mb-16 flex flex-col gap-2" id="examples" #examples>
    <h3
      (click)="scrollToElement(examples)"
      class="
        cursor-pointer
        relative
        text-xl
        mb-4
        font-medium
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
    ">
      Examples
    </h3>

    <div id="default" #default>
      <h4
      (click)="scrollToElement(default)"
      class="
        cursor-pointer
        relative
        text-lg
        mb-4
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
      ">
        Default
      </h4>
      <aTabs>
        <aTab tabTitle="Preview" [active]="true">
          <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
            <div class="flex items-center justify-center w-[384px]">
              <tiInput type="text" placeholder="Default" />
            </div>
          </div>
        </aTab>
        <aTab tabTitle="Code">
          <tiCode [language]="'typescript'" [code]="defaultCode" />
        </aTab>
      </aTabs>
    </div>

    <div id="password" #password>
      <h4
      (click)="scrollToElement(password)"
      class="
        cursor-pointer
        relative
        text-lg
        mb-4
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
      ">
        Password
      </h4>
      <aTabs>
        <aTab tabTitle="Preview" [active]="true">
          <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
            <div class="flex items-center justify-center w-[384px]">
              <tiInput type="password" placeholder="Password" />
            </div>
          </div>
        </aTab>
        <aTab tabTitle="Code">
          <tiCode [language]="'typescript'" [code]="passwordCode" />
        </aTab>
      </aTabs>
    </div>

    <div id="email" #email>
      <h4
      (click)="scrollToElement(email)"
      class="
        cursor-pointer
        relative
        text-lg
        mb-4
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
      ">
        Email
      </h4>
      <aTabs>
        <aTab tabTitle="Preview" [active]="true">
          <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
            <div class="flex items-center justify-center w-[384px]">
              <tiInput type="email" placeholder="Email" />
            </div>
          </div>
        </aTab>
        <aTab tabTitle="Code">
          <tiCode [language]="'typescript'" [code]="emailCode" />
        </aTab>
      </aTabs>
    </div>

    <div id="error" #error>
      <h4
      (click)="scrollToElement(error)"
      class="
        cursor-pointer
        relative
        text-lg
        mb-4
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
      ">
        Error
      </h4>
      <aTabs>
        <aTab tabTitle="Preview" [active]="true">
          <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
            <div class="flex items-center justify-center">
              <div class="flex flex-col gap-6 w-[384px]">
                <tiInput type="password" placeholder="Error Server" [serverError]="true" />
                <tiInput type="email" placeholder="Error Email" value="example" />
              </div>
            </div>
          </div>
        </aTab>
        <aTab tabTitle="Code">
          <tiCode [language]="'typescript'" [code]="errorCode" />
        </aTab>
      </aTabs>
    </div>

    <div id="file" #file>
      <h4
      (click)="scrollToElement(file)"
      class="
        cursor-pointer
        relative
        text-lg
        mb-4
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
      ">
        File
      </h4>
      <aTabs>
        <aTab tabTitle="Preview" [active]="true">
          <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
            <div class="flex items-center justify-center w-[384px]">
              <tiInput type="file" placeholder="File" />
            </div>
          </div>
        </aTab>
        <aTab tabTitle="Code">
          <tiCode [language]="'typescript'" [code]="fileCode" />
        </aTab>
      </aTabs>
    </div>


    <div id="bigFile" #bigFile>
      <h4
      (click)="scrollToElement(bigFile)"
      class="
        cursor-pointer
        relative
        text-lg
        mb-4
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
      ">
        Big File
      </h4>
      <aTabs>
        <aTab tabTitle="Preview" [active]="true">
          <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
            <div class="flex items-center justify-center w-[384px]">
              <tiInput type="bigFile" placeholder="Placeholder here!" />
            </div>
          </div>
        </aTab>
        <aTab tabTitle="Code">
          <tiCode [language]="'typescript'" [code]="bigFileCode" />
        </aTab>
      </aTabs>
    </div>
  </div>
</section>
