<section>
  <div class="flex flex-col gap-6 mb-8">
    <div class="flex flex-col gap-2">
      <div class="text-sm font-medium flex gap-2 mb-4">
        <div [routerLink]="['/components']"  class="cursor-pointer transition-colors duration-300 text-neutral-500 hover:text-neutral-900 hover:dark:text-neutral-100" >Components</div>
        <div class="dark:text-neutral-800 text-neutral-300">/</div>
        <div class="dark:text-blue-600 text-blue-800">Card</div>
      </div>
      <h2 class="text-4xl font-semibold">Card</h2>
      <p class="text-xl font-medium text-neutral-500">Trigger an action or event, such as submitting a form or displaying a dialog.</p>
    </div>
    <aTabs>
      <aTab tabTitle="Preview" [active]="true">
        <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
          <div class="my-10 w-[512px]">
            <aCard>
              <div title>
                Upload image
              </div>
              <div description>
                Change your profile picture
              </div>
              <div content>
                <aInput type="bigFile" placeholder="JPG, PNG, or GIF - Max file size 2MB" />
                <div class="flex w-full mt-6 gap-4 text-xs text-neutral-600 justify-between items-center">
                  <hr class="w-full dark:border-neutral-800 border-neutral-300" /> OR <hr class="w-full dark:border-neutral-800 border-neutral-300" />
                </div>
              </div>
              <div footer>
                <div class="flex gap-2">
                  <aInput type="email" [value]="''" placeholder="Add from URL" />
                  <aButton type="primary">Add</aButton>
                </div>
              </div>
            </aCard>
          </div>
        </div>
      </aTab>
      <aTab tabTitle="Code">
        <aCode [language]="'language-typescript'" [code]="defaultCode" />
      </aTab>
    </aTabs>
  </div>

  <div class="mb-16 flex flex-col gap-2" id="api" #attributes>
    <h3
    (click)="scrollToElement(attributes)"
    class="
      cursor-pointer
      relative
      text-xl
      mb-4
      font-medium
      text-neutral-900
      dark:text-neutral-100
      hover:before:content-['#']
      before:absolute
      before:-left-6
      before:text-2xl
      before:dark:text-blue-950
      before:text-blue-300
  ">
    Attributes Reference
  </h3>
    <aTable>
      <aTHeader>
        <aTRow [isHeader]="true">
          <aTCell [colHeader]="true">Prop</aTCell>
          <aTCell [colHeader]="true">Code</aTCell>
          <aTCell [colHeader]="true">Description</aTCell>
        </aTRow>
      </aTHeader>

      <aTBody>
        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">title</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">&#60;div title&#62;&#60;/div&#62;</span>
          </aTCell>
          <aTCell><span class="dark:text-neutral-700 text-neutral-400">—</span></aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">type</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">"default" | "primary" | "destructive" | "outline" | "ghost" | "link"</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-neutral-800 dark:text-neutral-300 bg-neutral-200 text-neutral-800 px-1.5 py-0.5 rounded-md">"default"</span>
          </aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">loading</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">boolean</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-neutral-800 dark:text-neutral-300 bg-neutral-200 text-neutral-800 px-1.5 py-0.5 rounded-md">false</span>
          </aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">disabled</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">boolean</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-neutral-800 dark:text-neutral-300 bg-neutral-200 text-neutral-800 px-1.5 py-0.5 rounded-md">false</span>
          </aTCell>
        </aTRow>
      </aTBody>
    </aTable>
  </div>

  <div class="mb-16 flex flex-col gap-2" id="installation" #installation>
    <h3
      (click)="scrollToElement(installation)"
      class="
        cursor-pointer
        relative
        text-xl
        mb-4
        font-medium
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
    ">
      Installation
    </h3>
    <aCode [language]="'sh'" [code]="'npm install @alpha/card'" />
  </div>

  <div class="mb-16 flex flex-col gap-2" id="usage" #usage>
    <h3
      (click)="scrollToElement(usage)"
      class="
        cursor-pointer
        relative
        text-xl
        mb-4
        font-medium
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
    ">
      Usage
    </h3>
    <aCode [language]="'language-typescript'" [code]="defaultImports" />
    <aCode [language]="'html'" [code]="defaultSkeleton" />
  </div>

  <div class="mb-16 flex flex-col gap-2" id="examples" #examples>
    <h3
      (click)="scrollToElement(examples)"
      class="
        cursor-pointer
        relative
        text-xl
        mb-4
        font-medium
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
    ">
      Examples
    </h3>

    <div>
      <aTabs>
        <aTab tabTitle="Preview" [active]="true">
          <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
            <aButton type="default">
              Button
            </aButton>
          </div>
        </aTab>
        <aTab tabTitle="Code">
          <aCode [language]="'language-typescript'" [code]="defaultCode" />
        </aTab>
      </aTabs>
    </div>
  </div>
</section>
