<div>
  <aHeader />
  <router-outlet></router-outlet>
</div>

<div class="m-auto max-w-96">
  <tiCarousel [autoSlide]="false" [controls]="true" [dot]="true" [infinite]="false">
    <tiSlide>
      <div class="flex items-center justify-center text-8xl border dark:border-neutral-700 dark:bg-neutral-950 border-neutral-300 bg-neutral-50 h-96 rounded-2xl">
        1
      </div>
    </tiSlide>
    <tiSlide>
      <div class="flex items-center justify-center text-8xl border dark:border-neutral-700 dark:bg-neutral-950 border-neutral-300 bg-neutral-50 h-96 rounded-2xl">
        2
      </div>
    </tiSlide>
    <tiSlide>
      <div class="flex items-center justify-center text-8xl border dark:border-neutral-700 dark:bg-neutral-950 border-neutral-300 bg-neutral-50 h-96 rounded-2xl">
        3
      </div>
    </tiSlide>
    <tiSlide>
      <div class="flex items-center justify-center text-8xl border dark:border-neutral-700 dark:bg-neutral-950 border-neutral-300 bg-neutral-50 h-96 rounded-2xl">
        4
      </div>
    </tiSlide>
  </tiCarousel>
</div>

<div class="m-auto max-w-96">
  <tiCarousel [autoSlide]="false" [controls]="true" [dot]="true" type="classic">
    <tiSlide>
      <div class="flex items-center justify-center text-8xl border dark:border-neutral-700 dark:bg-neutral-950 border-neutral-300 bg-neutral-50 h-96 rounded-2xl">
        1
      </div>
    </tiSlide>
    <tiSlide>
      <div class="flex items-center justify-center text-8xl border dark:border-neutral-700 dark:bg-neutral-950 border-neutral-300 bg-neutral-50 h-96 rounded-2xl">
        2
      </div>
    </tiSlide>
    <tiSlide>
      <div class="flex items-center justify-center text-8xl border dark:border-neutral-700 dark:bg-neutral-950 border-neutral-300 bg-neutral-50 h-96 rounded-2xl">
        3
      </div>
    </tiSlide>
    <tiSlide>
      <div class="flex items-center justify-center text-8xl border dark:border-neutral-700 dark:bg-neutral-950 border-neutral-300 bg-neutral-50 h-96 rounded-2xl">
        4
      </div>
    </tiSlide>
  </tiCarousel>
</div>

<div class="flex gap-2">
  <div class="flex items-center justify-center px-1.5 py-1 text-xs font-medium rounded-lg w-fit dark:bg-neutral-50 bg-neutral-950 dark:text-neutral-950 text-neutral-50">
    Hi! I'm a badge.
  </div>
  <div class="flex items-center justify-center px-1.5 py-1 text-xs font-medium rounded-lg w-fit dark:bg-blue-600 bg-blue-800 text-neutral-50">
    Hi! I'm a badge.
  </div>
  <div class="flex items-center justify-center px-1.5 py-1 text-xs font-medium rounded-lg w-fit dark:bg-green-950 bg-green-100 dark:text-green-200 text-green-700">
    Hi! I'm a badge.
  </div>
  <div class="flex items-center justify-center px-1.5 py-1 text-xs font-medium rounded-lg w-fit dark:bg-blue-950 bg-blue-100 dark:text-blue-200 text-blue-700">
    Hi! I'm a badge.
  </div>
  <div class="flex items-center justify-center px-1.5 py-1 text-xs font-medium rounded-lg w-fit dark:bg-yellow-950 bg-yellow-100 dark:text-yellow-200 text-yellow-700">
    Hi! I'm a badge.
  </div>
  <div class="flex items-center justify-center px-1.5 py-1 text-xs font-medium rounded-lg w-fit dark:bg-red-950 bg-red-100 dark:text-red-200 text-red-700">
    Hi! I'm a badge.
  </div>
</div>

<div class="flex items-center gap-2">
  <div class="overflow-hidden rounded-full w-6 h-6">
    <!-- <img class="w-full h-full" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Avatar" /> -->
    <span class="w-full h-full flex items-center justify-center dark:bg-blue-600 bg-blue-800 text-neutral-50 text-xs font-normal">Ab</span>
  </div>
  <div class="overflow-hidden rounded-full w-12 h-12">
    <!-- <img class="w-full h-full" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Avatar" /> -->
    <span class="w-full h-full flex items-center justify-center dark:bg-blue-600 bg-blue-800 text-neutral-50 text-xl font-medium">Ab</span>
  </div>
  <div class="overflow-hidden rounded-full w-20 h-20">
    <!-- <img class="w-full h-full" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Avatar" /> -->
    <span class="w-full h-full flex items-center justify-center dark:bg-blue-600 bg-blue-800 text-neutral-50 text-4xl font-semibold">Ab</span>
  </div>
</div>



