<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2024-12-27 17:20:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2024-12-28 11:02:57
-->

<!--
  @Author: 0K0 <contact@oko.app>
  @Date:   14-12-2024 20:35:50
  @Last Modified by:   0K0 <contact@oko.app>
  @Last Modified time: 22-12-2024 14:34:51
-->
<div class="h-screen">
  <tiHeader />
  <div id="window" class="relative mt-[73px]">
    <router-outlet></router-outlet>
  </div>
</div>
