<section>
  <div class="flex flex-col gap-6 mb-8">
    <div class="flex flex-col gap-2">
      <div class="text-sm font-medium flex gap-2 mb-4">
        <div [routerLink]="['/components']"  class="cursor-pointer transition-colors duration-300 text-neutral-500 hover:text-neutral-900 hover:dark:text-neutral-100" >Components</div>
        <div class="dark:text-neutral-800 text-neutral-300">/</div>
        <div class="dark:text-blue-600 text-blue-800">Icon</div>
      </div>
      <h2 class="text-4xl font-semibold">Icon</h2>
      <p class="text-xl font-medium text-neutral-500">Visual cues for enhancing user interaction.</p>
    </div>
    <tiTabs>
      <tiTab tabTitle="Preview" [active]="true">
        <div class="border border-neutral-300 dark:border-neutral-800 min-h-80 flex items-center justify-center rounded-lg">
          <tiIcon icon="accessibility" other="!w-12 !h-12" />
        </div>
      </tiTab>
      <tiTab tabTitle="Code">
        <tiCode [language]="'typescript'" [code]="defaultCode" />
      </tiTab>
    </tiTabs>
  </div>
  <div class="mb-16 flex flex-col gap-2" id="api" #attributes>
    <h3
    (click)="scrollToElement(attributes)"
    class="
      cursor-pointer
      relative
      text-xl
      mb-4
      font-medium
      text-neutral-900
      dark:text-neutral-100
      hover:before:content-['#']
      before:absolute
      before:-left-6
      before:text-2xl
      before:dark:text-blue-950
      before:text-blue-300
  ">
    Attributes Reference
  </h3>
    <aTable>
      <aTHeader>
        <aTRow [isHeader]="true">
          <aTCell [colHeader]="true">Prop</aTCell>
          <aTCell [colHeader]="true">Type</aTCell>
          <aTCell [colHeader]="true">Default</aTCell>
        </aTRow>
      </aTHeader>

      <aTBody>
        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">icon</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">string</span>
          </aTCell>
          <aTCell><span class="dark:text-neutral-700 text-neutral-400">—</span></aTCell>
        </aTRow>

        <aTRow>
          <aTCell [rowHeader]="true">
            <span class="dark:bg-blue-950 dark:text-blue-200 bg-blue-100 text-blue-800 px-1.5 py-0.5 rounded-md">other</span>
          </aTCell>
          <aTCell>
            <span class="dark:bg-yellow-900 dark:text-yellow-200 bg-yellow-100 text-yellow-800 px-1.5 py-0.5 rounded-md">string</span>
          </aTCell>
          <aTCell>
            <span class="dark:text-neutral-700 text-neutral-400">—</span>
          </aTCell>
        </aTRow>


      </aTBody>
    </aTable>
  </div>

  <div class="mb-16 flex flex-col gap-2" id="installation" #installation>
    <h3
      (click)="scrollToElement(installation)"
      class="
        cursor-pointer
        relative
        text-xl
        mb-4
        font-medium
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
    ">
      Installation
    </h3>
    <tiCode [language]="'sh'" [code]="'npm install @teenageinterface/icons'" />
  </div>

  <div class="mb-16 flex flex-col gap-2" id="usage" #usage>
    <h3
      (click)="scrollToElement(usage)"
      class="
        cursor-pointer
        relative
        text-xl
        mb-4
        font-medium
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
    ">
      Usage
    </h3>
    <tiCode [language]="'typescript'" [code]="defaultImports" />
    <tiCode [language]="'html'" [code]="defaultSkeleton" />
  </div>

  <div class="mb-16 flex flex-col gap-2" id="icons" #icons>
    <h3
      (click)="scrollToElement(icons)"
      class="
        cursor-pointer
        relative
        text-xl
        mb-4
        font-medium
        text-neutral-900
        dark:text-neutral-100
        hover:before:content-['#']
        before:absolute
        before:-left-6
        before:text-2xl
        before:dark:text-blue-950
        before:text-blue-300
    ">
      Icons
    </h3>

    <div>
      <tiInput placeholder="Search icons..." [(value)]="searchTerm" />
    </div>
    <div class="grid grid-cols-[repeat(auto-fill,minmax(144px,1fr))] gap-2 border dark:border-neutral-800 border-neutral-300 p-4 rounded-xl max-h-[640px] overflow-y-auto overflow-x-hidden">
      <div class="group cursor-pointer relative flex flex-col py-4 px-2 items-center w-36 justify-center hover:dark:bg-neutral-900 hover:bg-neutral-200 rounded-lg gap-2" (click)="copyIcon(icon)" *ngFor="let icon of searchIcons()">
        <tiIcon [icon]="icon" other="!w-8 !h-8"/>
        <span class="text-xs font-medium dark:text-neutral-400 text-neutral-700">
          {{icon}}
        </span>
      </div>
      <p class="text-xs w-full text-nowrap dark:text-neutral-400 text-neutral-700" *ngIf="searchIcons().length === 0 && searchTerm.length > 0">There are no results you are looking for.</p>
    </div>
  </div>
</section>
