<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2024-12-27 21:59:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2024-12-31 10:46:46
-->

<div class="flex w-full gap-8 md:gap-16 md:justify-start lg:justify-between">
  <div class="relative">
    <div class="absolute">
      <side-nav />
    </div>
  </div>
  <div class="lg:w-1/2 lg:ml-0 w-full ml-0 md:ml-52 pr-8 mb-8 pt-8">
    <router-outlet></router-outlet>
    <nav class="flex items-center" [ngClass]="{'justify-between': showPreviousButton && showNextButton, 'justify-end': showNextButton && !showPreviousButton}">
      <tiButton class="self-start" *ngIf="showPreviousButton" type="outline" (click)="navigateToPreviousChild()">
        <tiIcon icon="chevron_left" />
        {{previousChildTitle}}
      </tiButton>
      <tiButton class="self-end" *ngIf="showNextButton" type="outline" (click)="navigateToNextChild()">
        {{nextChildTitle}}
        <tiIcon icon="chevron_right" />
      </tiButton>
    </nav>
    <tiFooter />
  </div>
  <div class="hidden lg:block relative pt-8">
    <anchor-nav />
  </div>
</div>
