<nav class="fixed w-56 text-sm font-medium overflow-x-auto h-[calc(100vh-73px-23px)] px-2">
  <ul>
    <li class="mb-6 flex flex-col gap-3" *ngFor="let navItem of navItems">
      <div>
        {{ navItem.section }}
      </div>
      <ul class="flex flex-col gap-2">
        <li *ngFor="let item of navItem.items">
          <a [attr.disabled]="item.soon" class="group flex items-center justify-between gap-2 text-neutral-600 dark:text-neutral-400" [routerLink]="item.path" routerLinkActive="dark:!text-blue-500 !text-blue-800">
            <span class="group-hover:underline">{{ item.title }}</span>
            <tiBadge type="default" *ngIf="item.soon">Soon</tiBadge>
            <tiBadge type="primary" *ngIf="item.alpha">Alpha</tiBadge>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
